* { box-sizing: border-box;   -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

/*  Baseline grid from http://drewish.com/tools/vertical-rhythm */
body { font-size: 100.1%; font-family: 'Open Sans', sans-serif; line-height: 1.5em;} 
body{
	background:url("white_texture.png");
  color:#333;
}

p { font-size: 1em; /* 16px */ line-height: 1.5em; /* 24px */ margin: 0 0 1.5em 0; }

h1{
 font-size: 4.5em; 
  line-height: 1em; 
  margin-bottom: 0.25em;
  margin-top: 0em;
  	padding-bottom: 0.17em;
}
	
h2 { font-size: 3em; /* 48px */ line-height: 1em; /* 48px */ margin-top: 0em; margin-bottom: 0em; letter-spacing:-1px}
/* 32px - The quick brown fox jumps over the lazy dog */
h3 { font-size: 2em; /* 32px */ line-height: 1.5em; /* 48px */ margin-top: 0.75em; margin-bottom: 0em; letter-spacing:-1px;}
/* 24px - The quick brown fox jumps over the lazy dog */
h4 { font-size: 1.5em; /* 24px */ line-height: 1em; /* 24px */ margin-top: 1em; margin-bottom: 0em; }
/* 20px - The quick brown fox jumps over the lazy dog */

h5, #main-article h2 { 
    font-size: 1.25em;
    line-height: 1em;
    margin-bottom: 0.75em;
    margin-top: 0;
 }


h1, h2, h3, h4, h5 {
font-weight:300; color: #1C2E2E;
text-shadow:1px 0px #FFF;
}


a{
  color:#000;
  text-decoration: none;
}

a:focus {
  outline:transparent;
}

p a:link {
  text-decoration: none;
}

a img {border: 0;}



/* ==============
  Menu
   ============== */


.main-menu-underline{
  height:.25em;
  position:absolute;
  margin-top:-8px;
}



nav{
}

nav ul, nav ol {
    list-style: none outside none;
    margin: 0.45em 0 0;
    padding: 0;

}

nav a{
  display:block;
  margin-bottom:.5em;
  padding:.25em .25em .25em 0em;
  margin-left:0 ;

  background:none;
  color:#ddd;
  width:inherit;
  text-align:center;
  text-decoration:none;
  font-weight:300;
  float:left;

  transition: all 0.5s ease-out;
  

}

nav a:hover, nav a:visited{
  color:#999;

}

nav a:hover {
 
    text-decoration:none;
    margin-bottom:-1px;
    color:#333;

}

nav a:hover{

}



nav a.activeMenu{
    color:#333;
}



/*Areas */


#main-container{
    margin-bottom: -2em;
    margin-top: 1.4em;
  transition: margin-top 0.5s ease-out 0.5s;
}

#main-container .gallery{
  margin-top:0em;
}


#main header{
   font-size: 0.75em;
    line-height: 1em;
}

#main header h1{ 
    font-size: 5.5em;
    letter-spacing: -3px;
    line-height: 0.95em;
    margin-bottom: 0.3em;
    margin-top: 0.33em;
    /* margin-left: -5px; */
  
}

#main .body-tekst{
  clear:both;
  margin-bottom:1.5em;
  width:62%;
}

#main .media-area{
  clear:both;
  border-top:1px solid #e6e6e6;

  padding-top: .75em;
}

#main .media-area-wrapper{

}

#main .media-item{
    float:left;
    width: 28.5%;
    margin-left: 3%;
}


#main .thumb{ 
  width:100%;

}

#main .view h2  {
   color: #fff;
  text-shadow:none;
  margin-top:5px;
  font-size:1.25em;
}

#main .view p {
    margin-top: 70px;
  } 


#main .modal-media-init{

}

#main .modal-media{
  width:55%;
  height:50%;
  z-index: 100001;

  position:absolute;
   
   margin-top: -200px;


  -webkit-transition: position .5s cubic-bezier(0.99,0.00,0.00,1.00), opacity .6s ease-out;
  -moz-transition: position .5s cubic-bezier(0.99,0.00,0.00,1.00), opacity .6s ease-out;
  -o-transition: position .5s ease-out, opacity .6s ease-out;
  transition: position .5s cubic-bezier(0.99,0.00,0.00,1.00), opacity 1s ease-out;

     opacity:1;

}

#modalContainer{
  width: 80%;
}
.modal .mask{
    padding-top:1.5em;
} 


.modal h2 {
    font-size: 1.5em;
    margin-bottom: 0.25em;
    margin-left: 0.5em;
}

.modal p {
  margin-left:1em;
   margin-bottom: 0;
  
}
.modal img{
  width:100%;
}


.footer {
   /* border-top:1px solid #e6e6e6;*/
}

.linkedin, .github, .npm{

}
.linkedin{
   margin-top: 2px;
   float: left;
}


@media only screen and (max-height: 550px) {
  #main-container{
    margin-top:0em;
  } 

  .view p {
    margin-top: 80px;
  } 

}


/* ============
    WIDE: Main
   ============ */

  #main article{
    float:left;
    width:100%;
  }
    
  #main aside{
    float:right;
    width:0%;
  }


@media only screen and (min-width: 1140px) {

/* ===============
    Maximal Width
   =============== */


  #main .view h2  {
  font-size:1.5em;

} 

#main .view p {
    margin-top: 80px;
  } 

  .wrapper{
    width:1026px; /* 1140px - 10% for margins */
    margin:0 auto;
  }


  #modalContainer{
    width: inherit;
  }



} 



/* ==============
Animation
============== */
.init-fade{
  opacity:0;
}

.fade-in{
  opacity:1;

  -webkit-transition: opacity .6s ease-out;
  -moz-transition:  opacity .6s ease-out;
  -o-transition:  opacity .6s ease-out;
  transition: opacity .6s ease-out;
}

.init-state{
  opacity:0;
  margin-left:-1000px;
}

.in{
  /*refactor ".in" to .fade-in and .move-in-left*/
  margin-left:0px;
  opacity:1;
  width:100%;


  -webkit-transition: margin-left .5s cubic-bezier(0.99,0.00,0.00,1.00), opacity .6s ease-out;
  -moz-transition: margin-left .5s cubic-bezier(0.99,0.00,0.00,1.00), opacity .6s ease-out;
  -o-transition: margin-left .5s ease-out, opacity .6s ease-out;
  transition: margin-left .5s cubic-bezier(0.99,0.00,0.00,1.00), opacity .6s ease-out;

}

.out{
  width:100%;
  margin-left:600px;
  opacity:0;
/*  -moz-transition-timing-function: cubic-bezier(0.87,0.00,0.00,1.00);*/
  -webkit-transition: margin-left .25s ease-out, opacity .16s ease-in;
  -moz-transition: margin-left .25s ease-out, opacity .16s ease-in;
  -o-transition: margin-left .25s ease-out, opacity .16s ease-in;
  transition: margin-left .25s cubic-bezier(1.000,0.00,0.00,1.00), opacity .15s cubic-bezier(1.000,0.00,0.00,0.00);
}

.down{
  opacity:0;

  -webkit-transition-property:opacity;
  -webkit-transition-duration:.15s;
  -webkit-transition-timing-function:ease-out;
  -moz-transition-property:opacity;
  -moz-transition-duration:.15s;
  -moz-transition-timing-function:ease-out;
  -ms-transition-property:opacity;
  -ms-transition-duration:.15s;
  -ms-transition-timing-function:ease-out;
  -o-transition-property:opacity;
  -o-transition-duration:.15s;
  -o-transition-timing-function:ease-out;
  transition-property:opacity;
  transition-duration:.15s;
  transition-timing-function:ease-out;

}



.main-menu-underline {

    left: 0;


  -webkit-transition: all .5s ease-out;
  -moz-transition: all .5s ease-out;
  -o-transition: all .5s ease-out;
  transition: all .5s cubic-bezier(1.000,0.00,0.00,1.00);


  }
.main-menu-underline:after {
    content: "";
    margin: 0;
}


.showgrid { 
  background: url(images/grid.png); 
}
